################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/dist
/node_modules
/obj/Debug
/obj/Release
*.map

